{{#each items as |item|}}
<div class="col-md-3">
    <div class="card my-2">
        <div class="card-header">
            <p>{{item.name}}</p>
        </div>
        <div class="m-2">
            <img src="{{item.crestUrl}}" width="100px" height="100px" class="mx-auto d-block">
            <p>{{item.area.area}}</p>
        </div>

        <div class="card-footer">
            <a href="/team{{item.id}}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Ver
            </a>
            <a href="/delete/{{item.id}}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Editar
            </a>
            <a href="/delete/{{item.id}}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Delete
            </a>
        </div>
    </div>
</div>
{{/each}}