<div>
    {{#each items as |item|}}
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <p>{{item.title}} / {{item.author}}</p>
            </div>
            <img src="{{item.image}}" class="card-img-top">
            <div class="card-body">
                <p>{{item.description}}</p>
            </div>
            <div class="card-footer">
                <a href="/delete/{{item.id}}" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>